<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
    # Protect .env
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
